// 
// 本软件为免费、开源软件。
// 本软件的版权(包括源码及二进制发布版本)归一切公众所有。
// 您可以自由使用、传播本软件。
// 您也可以以任何形式、任何目的使用本软件(包括源码及二进制发布版本)，而不受任何版权限制。
// =====================
// 作者: 孙明保
// 邮箱: sunmingbao@126.com
// 

#include "res.h"
#include <windows.h>
// this minimal resource file is all what is needed for most of the wxWindows
// samples

// note that the icon used by the Explorer (i.e. the programs icon) is the
// first icon in the executable and the icons are sorted both by their order
// (Win9x) and by alphabetically (!) (NT), so put this icon first and give it
// a name starting with "a"
a_exe_icon ICON "sample.ico"
my_frame_icon ICON "sample.ico"
config_icon ICON "cfg.ico"
stream_icon ICON "stream.ico"
speed_icon ICON "speed.ico"
cap_cfg_icon ICON "cap_cfg.ico"
stats_icon ICON "stats.ico"
info_icon ICON "info.ico"
icon_start ICON "start_32.ico"
icon_stop ICON "stop_32.ico"
//icon_net_card ICON "net_card_32.ico"
icon_capture ICON "capture.ico"
icon_capture_snd ICON "capture_snd.ico"
icon_view_capture ICON "eye_32.ico"
icon_capture_dis ICON "capture_dis.ico"
icon_capture_snd_dis ICON "capture_snd_dis.ico"
icon_view_capture_dis ICON "eye_32_dis.ico"

//my_cursor CURSOR "si.cur"

//ToolbarNormal  BITMAP   "ToolbarNormal.bmp"
//ToolbarHover   BITMAP   "ToolbarHover.bmp"
//ToolbarDisable BITMAP   "ToolbarDisable.bmp"

// Menu
MY_MENU MENU DISCARDABLE 
BEGIN
    	POPUP "File(&F)"
    	BEGIN
    	        MENUITEM "New (&N)\tCtrl+N", 				IDM_FILE_NEW
    	        MENUITEM SEPARATOR
    	        MENUITEM "Open (&O)...\tCtrl+O", 			IDM_FILE_OPEN
    	        MENUITEM "open tcpdump/wireshark archive", 	IDM_VIEW_PCAP_FILE
    	        MENUITEM SEPARATOR
    	        MENUITEM "save (&S)\tCtrl+S", 				IDM_FILE_SAVE
    	        MENUITEM "save as (&A)...", 			IDM_FILE_SAVE_AS
        		MENUITEM SEPARATOR
        		
        		POPUP "recent config files"
			    BEGIN
				    MENUITEM "&1 abc", 	ID_FILE_RECENT_CFG_FILE_BEGIN
			    END
			    
			    POPUP "recent pcap files"
			    BEGIN
				    MENUITEM "&1 abc", 	ID_FILE_RECENT_PCAP_FILE_BEGIN
			    END

        		MENUITEM SEPARATOR
        		MENUITEM "exit (&X)", 				IDM_APP_EXIT
    	END

    	POPUP "View(&V)"
    	BEGIN
    	        MENUITEM "toolbar (&T)", 				IDM_APP_TOOLBAR_WIN, CHECKED
        		MENUITEM "status bar (&S)", 				IDM_APP_STATUSBAR_WIN, CHECKED
        		MENUITEM SEPARATOR
        		MENUITEM "left panel (&L)", 				IDM_APP_LEFT_WIN, CHECKED
        		MENUITEM "bottom panel (&B)", 				IDM_APP_BOTTOM_WIN, CHECKED

    	END

    	POPUP "Options(&O)"
    	BEGIN
    	    POPUP "each time before TX"
    	    BEGIN
    	    MENUITEM "query wether to clear statistics", IDM_APP_QUERY_CLR_STATS, CHECKED
    	    MENUITEM "auto clear statistics", 	 IDM_APP_CLR_STATS
    	    MENUITEM "do not clear statistics", 	     IDM_APP_NOT_CLR_STATS

    	    MENUITEM SEPARATOR
        	MENUITEM "query wether to save packets captured", 	IDM_APP_QUERY_SAVE_CAPTURED_PKS, CHECKED
        	MENUITEM "auto clear packets captured", 	IDM_APP_CLR_CAPTURED_PKS
    		END
    		
    		POPUP "each time before separately capture packets"
    	    BEGIN
        	MENUITEM "query wether to save packets captured", 	IDM_APP_QUERY_SAVE_CAPTURED_PKS_2
            END
    	END
    	
    	POPUP "Help(&H)"
    	BEGIN
    	        MENUITEM "user guide",            IDM_USER_MANUAL
        	    MENUITEM SEPARATOR
        	    MENUITEM "user guide for linux user",       IDM_USER_MANUAL_LINUX
        	    MENUITEM SEPARATOR
        	    MENUITEM "get latest release ...",	    IDM_GET_NEW_VERSION
        	    MENUITEM "get source code ...",	    IDM_GET_SOURCE
//        	    MENUITEM "visit official site ...",	    IDM_OPEN_OFFICIAL_SITE
        	    MENUITEM SEPARATOR
        	    MENUITEM "reminder me for new release",      IDM_NEW_VERSION_NOTICE, CHECKED
        	    MENUITEM SEPARATOR
        	    MENUITEM "about this software ...(&A)",	IDM_APP_ABOUT
    	END
END

my_popup_menu MENU DISCARDABLE 
BEGIN
    	POPUP "&Streams"
    	BEGIN
        		MENUITEM "new flow(&N)", 				IDM_STREAM_NEW
        		MENUITEM SEPARATOR
        		

        		MENUITEM "edit current flow (&E)", 			IDM_STREAM_EDIT
        		MENUITEM "make fragments using current flow (&F)", 	 IDM_STREAM_MAKE_FRAGS
        		MENUITEM SEPARATOR
        		
				MENUITEM "import single flow - from hexadecimal text file", 	 IDM_STREAM_NEW_HEX
				MENUITEM "import single flow - from binary file", 	 IDM_STREAM_NEW_BIN
				MENUITEM "import flow(s) - from wireshark/tcpdump archive", 	 IDM_STREAM_NEW_PCAP


        		MENUITEM SEPARATOR
        		MENUITEM "save current flow to binary file",     IDM_STREAM_2_BIN
        		MENUITEM "save current flow to hexadecimal text file", IDM_STREAM_2_TEXT

        		MENUITEM "save selected flow(s) to pcap file", IDM_STREAM_SEL2PCAP
        		MENUITEM SEPARATOR
        		MENUITEM "copy", 			        IDM_STREAM_COPY, GRAYED
        		MENUITEM "paste", 			        IDM_STREAM_PASTE, GRAYED
        		MENUITEM "delete current flow", 			    IDM_STREAM_DEL
        		MENUITEM "delete selected flow(s)", 	        IDM_STREAM_DEL_SEL, GRAYED
        		MENUITEM SEPARATOR
        		MENUITEM "check all", 			        IDM_STREAM_SEL_ALL, GRAYED
        		MENUITEM "inverse", 			        IDM_STREAM_SEL_RVS, GRAYED
    	END
END

stats_win_popup_menu MENU DISCARDABLE 
BEGIN
    	POPUP "&operations"
    	BEGIN
    	        MENUITEM "copy data to clipboard", 	IDM_STATS_WIN_COPY2CLIP_BOARD
        		MENUITEM SEPARATOR
        		MENUITEM "clear statistics", 			IDM_STATS_WIN_CLR
    	END
END

pkt_edit_popup_menu MENU DISCARDABLE 
BEGIN
    	POPUP "&operations"
    	BEGIN
    	        MENUITEM "ping(echo request)", 	    IDM_PKT_PING_REQ
    	        MENUITEM "ping(echo reply)", 	IDM_PKT_PING_REPLY
    	        MENUITEM "arp request", 	    IDM_PKT_ARP_REQ
    	        MENUITEM "arp reply", 	    IDM_PKT_ARP_REPLY
    	        MENUITEM "TCP syn", 	    IDM_PKT_TCP_SYN
    	        MENUITEM "UDP", 	        IDM_PKT_UDP
			    POPUP "ipv6"
			    BEGIN
    	        MENUITEM "arp request", 	    IDM_PKT_ARP_REQ_IPV6 
    	        MENUITEM "arp reply", 	    IDM_PKT_ARP_REPLY_IPV6 
    	        MENUITEM "ND(Neighbor Discovery)request", 	    IDM_PKT_ND_REQ_IPV6 
    	        MENUITEM "ND(Neighbor Discovery)reply", 	    IDM_PKT_ND_REPLY_IPV6 
    	        MENUITEM "ping(echo request)", 	    IDM_PKT_PING_REQ_IPV6 
    	        MENUITEM "ping(echo reply)", 	IDM_PKT_PING_REPLY_IPV6 
			    END
    	END
END

pcap_filters_menu MENU DISCARDABLE 
BEGIN
    	POPUP "&operations"
    	BEGIN
		MENUITEM "port 80",  IDM_PCAP_FILTER_PORT              
		MENUITEM "tcp",  IDM_PCAP_FILTER_TCP               
		MENUITEM "tcp port 80",  IDM_PCAP_FILTER_TCP_PORT          
		MENUITEM "src 192.168.1.1",  IDM_PCAP_FILTER_SRC_IP            
		MENUITEM "dst 192.168.1.1",  IDM_PCAP_FILTER_DST_IP            
		MENUITEM "host 192.168.1.1",  IDM_PCAP_FILTER_HOST              
		MENUITEM "src 192.168.1.1 and (udp port 80 or icmp)",  IDM_PCAP_FILTER_SRC_IP_UDP_PORT   
		MENUITEM "ether proto 0x86dd",  IDM_PCAP_FILTER_ETHER_PROTO       
		MENUITEM "ether src 01:02:00:55:55:55",  IDM_PCAP_FILTER_ETHER_SRC         
		MENUITEM "ether dst  01:02:00:55:55:55",  IDM_PCAP_FILTER_ETHER_DST         
		MENUITEM "ether host 01:02:00:55:55:55",  IDM_PCAP_FILTER_ETHER_HOST        
		MENUITEM "ether src 01:02:00:55:55:55 and  ether proto 0x86dd",  IDM_PCAP_FILTER_ETHER_SRC_PROTO
		END
END
// Accelerator
MY_ACCELER ACCELERATORS DISCARDABLE 
BEGIN
    	"^N",         IDM_FILE_NEW,          ASCII,  NOINVERT
    	"^O",         IDM_FILE_OPEN,         ASCII,  NOINVERT
    	"^S",         IDM_FILE_SAVE,         ASCII,  NOINVERT
END


// Dialog
ABOUTBOX DIALOG DISCARDABLE  0, 0, 280, 200
STYLE DS_MODALFRAME | WS_POPUP
FONT 10, "MS Sans Serif"
BEGIN
    	ICON        "my_frame_icon",IDC_STATIC,10,10,32,32, SS_REALSIZEIMAGE
    	PUSHBUTTON  "source code", ID_AB_SOURCE,5, 50, 55, 14
//    	PUSHBUTTON  "official site", ID_AB_SITE,  5, 70, 55, 14
    	PUSHBUTTON  "upgrade", ID_AB_UPDATE,5, 90, 55, 14
    	PUSHBUTTON  "Linux user", ID_AB_LINUX,5, 130, 55, 14
    	CONTROL "", ID_ABOUT_INFO, "edit"
    	, WS_BORDER|WS_VSCROLL | ES_MULTILINE|ES_AUTOVSCROLL|ES_WANTRETURN|ES_READONLY
    	, 65, 10, 200, 166

    	//CTEXT       "About Box Demo Program",IDC_STATIC,7,40,166,8
    	//CTEXT       "(c) Charles Petzold, 1998",IDC_STATIC,7,52,166,8
    	DEFPUSHBUTTON   "OK",IDOK,100,181,50,14
END

// Dialog
STREAM_EDIT_DLG DIALOG DISCARDABLE  32, 32, 400, 300
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "packet editing"
FONT 10, "MS Sans Serif"
BEGIN

		EDITTEXT    ID_SED_DYNAMIC_EDIT,150, 30, 100, 14, ES_AUTOHSCROLL
		COMBOBOX    ID_SED_DYNAMIC_COMB,330,140,100,100,CBS_DROPDOWNLIST | WS_VSCROLL
		COMBOBOX    ID_SED_DYNAMIC_COMB_ETH,330,140,100,100,CBS_DROPDOWNLIST | WS_VSCROLL
		PUSHBUTTON  "Rule ...", ID_SED_DYNAMIC_RULE_BUTTON,150, 30, 100, 14

    	CTEXT       "name",IDC_STATIC,10,5,20,14
    	EDITTEXT    ID_SED_NAME,35, 5, 40, 11
    	CTEXT       "length(No CRC)",IDC_STATIC,85,5,60,14
    	EDITTEXT    ID_SED_LEN,150, 5, 30, 11, ES_NUMBER

        PUSHBUTTON  "ordinary pkts ▼", ID_PKT_EDIT_MENU_BTN,190, 5, 55, 14

        GROUPBOX    "auto update",  IDC_STATIC, 10,20, 190, 45

    	CTEXT       "checksum: ",IDC_STATIC,15,30,50,14

        CONTROL     "IP",ID_SED_IP_CHECKSUM,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,70,30,20,14

        CONTROL     "ICMP",ID_SED_ICMP_CHECKSUM,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,100,30,30,14

        CONTROL     "TCP/UDP",ID_SED_TCP_UDP_CHECKSUM,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,140,30,50,14

    	CTEXT       "length fieds: ",ID_SED_UPDATE_LEN,15,50,50,14

        CONTROL     "IP",ID_SED_IP_LEN,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,70,50,20,14

        CONTROL     "UDP",ID_SED_UDP_LEN,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,100,50,30,14
                    
		//PUSHBUTTON  "立即更新", ID_SED_UPDATE_NOW, 195, 30, 35, 30, BS_LEFT


        CONTROL     "Tree1",ID_SED_TREE_VIEW,"SysTreeView32", TVS_HASLINES|TVS_HASBUTTONS|TVS_LINESATROOT,10,50,380,60

    	CONTROL     "",ID_SED_HEX_EDIT,"hex_edit",WS_CHILD,10,120,380,100

  	PUSHBUTTON   "OK",    IDOK,270,240,50,14
  	PUSHBUTTON   "Cancel",IDCANCEL,330,240,50,14

END


// Dialog
FC_CFG_DLG DIALOG DISCARDABLE  32, 32, 220, 180
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "TX rate control"
FONT 10, "MS Sans Serif"
BEGIN

        GROUPBOX    "speed settings",  IDC_STATIC, 10,10, 170, 70
    	CTEXT       "Type",IDC_STATIC,20,35,40,14
		COMBOBOX    ID_FC_SPEED_TYPE,70, 35, 80, 50,CBS_DROPDOWNLIST | WS_VSCROLL

    	CTEXT       "per second",ID_FC_SPEED_INFO_PREFFIX,20,55,40,14
    	EDITTEXT    ID_FC_SPEED_VALUE, 70, 55, 40, 14
    	CTEXT       "times",ID_FC_SPEED_INFO_SUFFIX,120,55,40,14

        GROUPBOX    "mode settings",  IDC_STATIC, 10,90, 170, 65

    	CTEXT       "Type",IDC_STATIC,20,115,40,14
    	COMBOBOX    ID_FC_SND_MODE,70, 115, 40, 50,CBS_DROPDOWNLIST | WS_VSCROLL
    	CTEXT       "send",ID_FC_SND_MODE_PREFFIX,20,135,40,14
    	EDITTEXT    ID_FC_SND_TIMES_CNT, 70, 135, 40, 14
    	CTEXT       "times ",ID_FC_SND_MODE_SUFFIX,130,135,20,14

  	DEFPUSHBUTTON   "OK",    IDOK,65,160,40,14
  	PUSHBUTTON      "Cancel",IDCANCEL,115,160,40,14

END

// Dialog
PKT_CAP_CFG_DLG DIALOG DISCARDABLE  32, 32, 270, 190
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "capture settings"
FONT 10, "MS Sans Serif"
BEGIN

        GROUPBOX    "mode of capture",  IDC_STATIC, 5,5, 260, 40
    	CONTROL     "statistic only (can not view pkts)",ID_PKT_CAP_CFG_STAT_ONLY,"Button",BS_AUTORADIOBUTTON
                    ,15,20,150,20

    	CONTROL     "save packets",ID_PKT_CAP_CFG_SAVE2FILE,"Button",BS_AUTORADIOBUTTON
                    ,180,20,70,20

        GROUPBOX    "filtrate packets",  IDC_STATIC, 5,55, 260, 112
    	CONTROL     "Simple Mode",ID_PKT_CAP_CFG_MODE_NORMAL,"Button",BS_AUTORADIOBUTTON|WS_GROUP
                    ,15,70,50,20

    	CONTROL     "Advanced Mode (ethereal filter, e.g., tcp port 21)",ID_PKT_CAP_CFG_MODE_ADVANCED,"Button",BS_AUTORADIOBUTTON
                    ,80,70,170,20

    	CONTROL "", ID_PKT_CAP_FILTER_STR, "edit"
    	, WS_VSCROLL | ES_MULTILINE|ES_AUTOVSCROLL|ES_WANTRETURN
    	, 15, 90, 160, 70

        PUSHBUTTON  "ordinary syntax ▼", ID_PKT_CAP_CFG_FILTERS_MENU_BTN,180, 90, 65, 14
//    	CTEXT       "抓取哪个方向的报文",IDC_STATIC,10,30,40,14
//		COMBOBOX    ID_PKT_CAP_DIRECTION,65, 30, 100, 50,CBS_DROPDOWNLIST | WS_VSCROLL

    	CTEXT       "type",ID_PKT_CAP_STR1,15,90,30,14
    	COMBOBOX    ID_PKT_CAP_PKT_TYPE,50, 90, 100, 70,CBS_DROPDOWNLIST | WS_VSCROLL

    	CTEXT       "src ip",ID_PKT_CAP_STR2,15,110,30,14
    	EDITTEXT    ID_PKT_CAP_SIP, 50, 110, 60, 14
    	CTEXT       "dst ip",ID_PKT_CAP_STR3,110,130,30,14
    	EDITTEXT    ID_PKT_CAP_DIP, 165, 110, 60, 14

    	CTEXT       "protocol",ID_PKT_CAP_STR4,15,130,30,14
    	COMBOBOX    ID_PKT_CAP_PROTOCOL,50, 130, 100, 70,CBS_DROPDOWNLIST | WS_VSCROLL

    	CTEXT       "src port",ID_PKT_CAP_STR5,15,150,30,14
    	EDITTEXT    ID_PKT_CAP_SPORT, 50, 150, 60, 14

    	CTEXT       "dst port",ID_PKT_CAP_STR6,130,150,30,14
    	EDITTEXT    ID_PKT_CAP_DPORT, 165, 150, 60, 14


  	DEFPUSHBUTTON   "OK",    IDOK,150,170,50,14
  	PUSHBUTTON      "Cancel",IDCANCEL,210,170,50,14

END

pkt_view_popup_menu MENU DISCARDABLE 
BEGIN
    	POPUP "&operations"
    	BEGIN
    	        MENUITEM "check all", 			        ID_VIEW_STREAM_SEL_ALL
        		MENUITEM "inverse", 			        ID_VIEW_STREAM_SEL_RSV
        		MENUITEM SEPARATOR
        		//MENUITEM "删除所选", 			ID_VIEW_STREAM_DEL_SEL, GRAYED
        		MENUITEM "build flow with selected items", 	        ID_VIEW_STREAM_SEL2STREAM, GRAYED
        		MENUITEM "save selected items as ...", 	    ID_VIEW_STREAM_SAVE_AS, GRAYED
    	END
END

// Dialog
PKT_VIEW_DLG DIALOG DISCARDABLE  32, 32, 100, 100
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "view packets captured"
FONT 8, "MS Sans Serif"
BEGIN

	//PUSHBUTTON   "全选",          ID_VIEW_STREAM_SEL_ALL,   10,10,60,14
	//PUSHBUTTON   "反选",          ID_VIEW_STREAM_SEL_RSV,   50,10,60,14
	//PUSHBUTTON   "删除所选",      ID_VIEW_STREAM_DEL_SEL,   80,10,60,14
	//PUSHBUTTON   "所选生成流",    ID_VIEW_STREAM_SEL2STREAM,150,10,60,14
	//PUSHBUTTON   "所选另存为...", ID_VIEW_STREAM_SAVE_AS,   240,10,60,14

        CONTROL     "lv",ID_VIEW_STREAM_LV,WC_LISTVIEW, WS_CHILD | LVS_REPORT |LVS_SINGLESEL|LVS_SHOWSELALWAYS,10,10,330,60

        CONTROL     "Tree1",ID_VIEW_STREAM_TREE_VIEW,WC_TREEVIEW, TVS_HASLINES|TVS_HASBUTTONS|TVS_LINESATROOT,10,80,315,60

    	CONTROL     "",ID_VIEW_STREAM_HEX_EDIT,"hex_edit",WS_CHILD,10,150,380,100


  	//DEFPUSHBUTTON   "关闭",        IDOK,340,240,50,14

END

// Dialog
PKT_CAP_DLG DIALOG DISCARDABLE  32, 32, 410, 120
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Capture packets"
FONT 10, "MS Sans Serif"
BEGIN


    	//EDITTEXT       ID_PKT_CAP_CFG_INFO,10,10,220,50
    	//               ,ES_READONLY | WS_VSCROLL | ES_MULTILINE|ES_AUTOHSCROLL|ES_AUTOVSCROLL|ES_WANTRETURN
    	PUSHBUTTON      "config...",ID_PKT_CAP_CFG,120,10,40,14

        PUSHBUTTON      "start capture",ID_PKT_CAP_CAP,10,10,45,14
        PUSHBUTTON      "view captured",ID_PKT_CAP_VIEW_RESULT,60,10,50,14
    	CTEXT       "total:",IDC_STATIC,10,30,30,14
    	CTEXT       "0",ID_PKT_CAP_TOTAL,50,30,30,14
    	
    	CTEXT       "L2:",IDC_STATIC,10,50,30,14
    	CTEXT       "0",ID_PKT_CAP_L2,50,50,30,14

    	CTEXT       "arp:",IDC_STATIC,90,50,30,14
    	CTEXT       "0",ID_PKT_CAP_ARP,130,50,30,14
    	CTEXT       "rarp:",IDC_STATIC,170,50,30,14
    	CTEXT       "0",ID_PKT_CAP_RARP,210,50,30,14
    	CTEXT       "L2 other:",IDC_STATIC,250,50,30,14
    	CTEXT       "0",ID_PKT_CAP_OTHER_L2,290,50,30,14
    	
    	CTEXT       "ip:",IDC_STATIC,10,70,30,14
    	CTEXT       "0",ID_PKT_CAP_IP,50,70,30,14
    	CTEXT       "icmp:",IDC_STATIC,90,70,30,14
    	CTEXT       "0",ID_PKT_CAP_ICMP,130,70,30,14
    	CTEXT       "tcp:",IDC_STATIC,170,70,30,14
    	CTEXT       "0",ID_PKT_CAP_TCP,210,70,30,14
    	CTEXT       "udp:",IDC_STATIC,250,70,30,14
    	CTEXT       "0",ID_PKT_CAP_UDP,290,70,30,14
    	CTEXT       "IP other:",IDC_STATIC,330,70,30,14
    	CTEXT       "0",ID_PKT_CAP_OTHER,370,70,30,14
    	
    	CTEXT       "IPv6:",IDC_STATIC,10,90,30,14
    	CTEXT       "0",ID_PKT_CAP_IPv6,50,90,30,14
    	CTEXT       "icmpv6:",IDC_STATIC,90,90,30,14
    	CTEXT       "0",ID_PKT_CAP_ICMP6,130,90,30,14
    	CTEXT       "tcp:",IDC_STATIC,170,90,30,14
    	CTEXT       "0",ID_PKT_CAP_TCP6,210,90,30,14
    	CTEXT       "udp:",IDC_STATIC,250,90,30,14
    	CTEXT       "0",ID_PKT_CAP_UDP6,290,90,30,14
    	CTEXT       "IPv6 other:",IDC_STATIC,330,90,40,14
    	CTEXT       "0",ID_PKT_CAP_OTHER6,370,90,30,14

//  	DEFPUSHBUTTON   "OK",    IDOK,430,160,50,14

END

// Dialog
RULE_CFG_DLG DIALOG DISCARDABLE  32, 32, 220, 120
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Rule of auto updating field"
FONT 8, "MS Sans Serif"
BEGIN

        CONTROL     "enable rule",ID_RULE_CFG_USE_RULE,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,10,10,60,14

    	CTEXT       "initial value",IDC_STATIC,10,30,40,14
    	EDITTEXT    ID_RULE_CFG_BASE, 65, 30, 120, 14
    	
    	CTEXT       "max value",IDC_STATIC,10,50,40,14
    	EDITTEXT    ID_RULE_CFG_MAX, 65, 50, 120, 14


    	CTEXT       "step size(decimal)",IDC_STATIC,10,70,40,14
    	EDITTEXT    ID_RULE_CFG_STEP, 65, 70, 40, 14


  	DEFPUSHBUTTON   "OK",    IDOK,100,100,50,14
  	PUSHBUTTON      "Cancel",IDCANCEL,160,100,50,14

END

// Dialog
FRAG_DLG DIALOG DISCARDABLE  32, 32, 100, 90
STYLE DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "fragment a IP packet"
FONT 8, "MS Sans Serif"
BEGIN

        CTEXT     "payload size of fragmental packet\r\n(UNIT: Bytes)",IDC_STATIC,5,10,90,28

    	EDITTEXT    ID_FRAG_PAYLOAD, 30, 45, 40, 14
    	

  	DEFPUSHBUTTON   "OK",    IDOK,15,70,30,14
  	PUSHBUTTON      "Cancel",IDCANCEL,55,70,30,14

END
